extends layout 
block content 
  h1= title 
  form(id='jungleForm', action="/resource/jungle", method="POST" ,class='d')
    div(class='d').form-group
        img(src='/images/peacock.jpg' width="100px" height="100px")
    div.form-group 
        label.jungleAttr(for='animal_name') Animal Name 
        input#animal_name(type='text', name='animal_name') 
    div.form-group 
        label.jungleAttr(for='animal_type') Animal Type
        input#animal_type(type='text', name='animal_type') 
    div.form-group 
        label.jungleAttr(for='animal_quantity') Animal Quantity 
        input#animal_quantity(type='number', name='animal_quantity')     
    input(type="submit") 
  script. 
    document.forms['jungleForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });